#proto {
  display: none;
}

.center{
  margin: auto;
  width: 60%;
  padding: 10px;
}

.font-centered {
  align-content: center;
}

.snip {
  display: block;
  margin: auto;
  width: 80%;
}

.visualization, .prototypes {
  background-color: white;
  display: block;
  margin: auto;
  width: 960px;
  height: 500px;
  border: 1px solid black;
}

.vega-actions a {
  margin-right: 5px;
}

.captions {
  fill: #7D7D7D;
  font-size: 13.3px;
  font-weight: normal;
}

.title {
  font-size: 20px;
}

.axis-heatmap path,
.axis-heatmap line {
  stroke: none;
  fill: none;
}

text {
  color: #000000;
  font-size: 12px;
  font-weight: bold;
}

.grid-line {
  stroke: #D7D7D7;
}

.frame {
  stroke: #CDCDCD;
}

/*.hero-body, .hero-foot {
  background-color: #353535;
  /*  #ff5b5b * /
}

.navbar-item:hover {
  background-color: #353535;
  color: #44bdbd;
}*/
