#proto{
    display: none;
}

.center{
    margin: auto;
    width: 60%;
    padding: 10px;
}

.font-centered {
   align-content: center;
}

.snip {
  display: block;
  margin: auto;
  width: 80%;
}

th {
  text-align: center;
}
