#proto {
  display: none;
}

.center{
  margin: auto;
  width: 60%;
  padding: 10px;
}

.font-centered {
  align-content: center;
}

.snip {
  display: block;
  margin: auto;
  width: 80%;
}

.visualization, .prototypes {
  background-color: white;
  display: block;
  margin: auto;
  width: 960px;
  height: 500px;
  border: 1px solid black;
}

.vega-actions a {
  margin-right: 5px;
}

/*.hero-body, .hero-foot {
  background-color: #353535;
  /*  #ff5b5b * /
}

.navbar-item:hover {
  background-color: #353535;
  color: #44bdbd;
}*/
